.steps {
  background: #4a4d4f;
  text-align: center;
  padding: 24px 0;

  &-item {
    display: inline-block;
    color: #97999a;

    .title {
      display: none;
      color: #fff;
      padding-left: 8px;
    }

    .chev {
      margin: 0 8px;
    }

    .count {
      display: inline-block;
      line-height: 40px;
      width: 40px;
      height: 40px;
      text-align: center;
      border: 1px solid #97999a;
      border-radius: 40px;
      color: #97999a;
      font-size: 18px;
    }

    &.active {
      color: #fff;
      .title {
        display: inline-block;
      }

      .count {
        border-color: #fff;
        border-radius: 40px;
        background: #fff;
        color: #4a4d4f;
      }
    }
  }
}
