.input-wrap {
  padding: 8px 16px;

  label {
    width: 30%;
    display: inline-block;
    vertical-align: middle;

    .info {
      background: #828282;
      color: #fff;
      width: 15px;
      height: 15px;
      vertical-align: super;
      display: inline-block;
      text-align: center;
      border-radius: 10px;
      font-size: 12px;
      margin-left: 2px;
      line-height: 16px;
    }
  }
  input,
  select {
    width: 70%;
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    padding: 8px;
    height: 32px;
    background: #fff;
    vertical-align: middle;

    &.small {
      width: calc(20% - 8px);

      + input,
      + select {
        width: 50%;
        margin-left: 8px;
      }
    }
  }

  &.multi-select {
    select {
      width: 50%;
    }

    button {
      width: calc(20% - 8px);
      margin-left: 8px;
    }

    .selected-options {
      margin-left: 30%;
      padding: 4px 0;

      .item {
        position: relative;
        padding: 8px 0;

        .remove {
          color: #ff395b;
          position: absolute;
          right: 0;
          cursor: pointer;
        }
      }
    }
  }
}

button {
  height: 32px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
}
